@media (min-width: 768px) {
  :root {
    --bg-size: 100%;
  }
}

@media (min-width: 600px) {
  :root {
    --bg-size: auto 100%;
  }
}

html {
  width: 100%;
  color: #ffffff;
  font-family: 'San Francisco', sans-serif;
  background-image: 
    url("../images/logos/just-logo.svg"), 
    linear-gradient(to bottom, rgb(25 0 0), rgb(150 0 0));
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--bg-size), cover;
  background-attachment: fixed; 
}

body {
  height: 100%;
}

h1, footer, .redirect, .center {
  text-align: center;
}

header {
  margin-bottom: 25px;
}

section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.section {
  width: 75%;
  max-width: 500px;
  height: auto;
  padding: 25px;
  margin-inline: auto;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sign input {
  width: 95%;
  margin: 3px 0;
  padding: 10px 5px;
}

#searchInput {
  padding: 4px 5px;
}

::placeholder {
  color: #ffffffaa;
}

a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border-bottom: solid 10px #ffffff00;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: #ffffff;
  border-bottom: solid 2px #ffffffff;
  transition: all 0.4s ease-in-out;
}

button {
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  border: solid 1px #ffffff;
  border-radius: 6px;
  margin-bottom: 0px;
  padding: 4px 7px;
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  background-color: #ffffff45;
}

input {
  background-color: transparent;
  color: white;
  border: solid 1px #ffffff;
  border-radius: 6px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

.red {
  color: red;
}

#signColor {
  background-color: #ffffff00;
  color: #000000;
  height: 2rem;
  width: 97.5%;
  padding: 10px 5px;
  margin: 3px 0;
  border-radius: 6px;
}

.user-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 5px 0 5px 0;
  margin-inline: auto;
  margin-top: 10px;
  border: solid 1px #ffffff;
  border-radius: 6px;
}

.user-list button {
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

svg {
  width: 30px;
  fill: #ffffff;
}

/* Début chat */
.header {
  width: 100%;
  height: 7.5rem;
  margin-inline: auto;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: solid 1px #F0F0F080;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background: #00000080;
  z-index: 2;
}

.header a {
  border: none;
}

.header svg {
  transition: all 0.5s;
  width: 2.5em;
  height: 2.5em;
  padding: 10px;
  border-radius: 10px;
}

.header svg:hover {
  background-color: #ffffff40;
}

#form {
  background: #00000080;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 5rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  z-index: 2;
}

#inputMsg {
  border: solid 1.5px #ffffffaa;
  padding: 0 1rem;
  font-size: 17.5px;
  flex-grow: 0.95;
  border-radius: 2rem;
  margin: 0.25rem;
}

.send {
  border: solid 1.5px #ffffffaa;
  padding: 0 1rem;
  flex-grow: 0.05;
  border-radius: 2rem;
  margin: 0.25rem;
}

.send div {
  width: 24px;
  height: 24px;
  margin-inline: auto;
}

.send div svg {
  margin-inline: auto;
  width: 100%;
  height: 100%;
}

#messages {
  list-style-type: none;
  margin-top: 8.5rem;
  margin-inline: 0;
  margin-bottom: 4.5rem;
  padding: 0;
  z-index: 1;
}

#messages > li {
  background-color: #ffffff0a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 90%;
  border: solid 1px #ffffff20;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  margin: 5px auto;
  transition: all 250ms ease-in-out;
}

#messages > li:hover {
  background-color: #ffffff1a;
  padding: 0.6rem 1.1rem;
  margin: 2px auto;
  transition: all 100ms ease-in-out;
}

.user {
  font-size: 14px;
}

.msg {
  font-size: 15px;
  overflow-wrap: break-word;
}

.date {
  display: flex;
  flex-direction: row-reverse;
  color: gray;
  font-size: 12px;
}
/* Fin chat */